[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "firmware/uGFX"]
	path = firmware/uGFX
	url = https://github.com/philcrump/uGFX.git
[submodule "pcb/lib/agg-kicad"]
	path = pcb/lib/agg-kicad
	url = https://github.com/philcrump/agg-kicad.git
[submodule "firmware/lwIP"]
	path = firmware/lwIP
	url = https://git.savannah.gnu.org/git/lwip.git
